.MainCard {
  background-color: #181b34;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.InsideDiv {
  display: flex;
  margin: 10%;
  gap: 12px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.MainInput {
  width: 20%;
  height: 25px;
  border-radius: 8px;
  border: #979292 1px solid;
  box-shadow: #00000038 2px 2px 2px;
  padding: 2px;
  color: #fff;
  margin: 44px;
}
.MainInput:hover {
  transform: scale(1.2);
  border: #ffffff 1px solid;
}

.Button {
  border-radius: 8px;
  box-shadow: #00000038 2px 2px 2px;
  background-color: #00000027;
}

.tableWrapper {
  width: auto;
  max-width: 100%;
  height: 500px;
  overflow: auto;
}

.tableScroll {
  position: relative;
}

.mainTable {
  border-collapse: collapse;
  width: 500;
  table-layout: fixed;
  border: 1px solid grey;
  background-color: #4b4e69 !important;
  color: #fff;
}

.clicableTh {
  cursor: pointer;
}
thead > tr > th {
  position: sticky;
  top: 0;
  font-weight: 900;
  background-color: #704ab8;
  color: black;
  top: -1px;
  border: none;
}

th,
td {
  border: 1px solid grey;
  padding: 8px;
  text-align: left;
  background-color: #4b4e69;
}

a {
  background-color: #4b4e69;
}

@media screen and (max-width: 480px) {
  .mainTable {
    width: 500px;
    font-size: 9px;
    word-break: break-word;
  }
}
